*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    
}
header{
    background-color: blue;
    height: 100px;
    text-align: center;
}


.title{
    color: #eefa59;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
}
h1{
    margin: 0;
    font-size: 45px;
}


.jumbotron{
    text-align: center;
    color: white;
    background-image:url(../immagini/cover-bg.png);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.info{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;

}
.info2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.generative-ai{
    margin-top: 20px;
    margin-left: 20px;

}
.img-gpt{
    width: 100%;
    height: 200px;
}
.gpt,h3,p{
    margin-top: 16px;
}
.dall{
    display: flex;
    margin-top: 16px;
}
.text-dall{
    margin-left: 20px;
}

footer {
    background-color: #1212B2;
    padding: 32px;
}

footer p {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    text-align: right;
}

.highlight {
    background-color: #ffb703;
}
a {
    color: #c917c0;
}


